ul.HorizontalMenuBar {
  list-style-type: none;
  font-size: 40px;
  padding: 0 20px;
  background-color: #8888dd;
}

li.MapMenuItem {
  display: inline;
  text-align: center;
  padding: 20px 50px;
}

button {
  border: none;
  font-size: 40px;
  text-decoration: none;
  background-color: #8888dd;
  color: white;
}

button:hover {
  background-color: #6666aa;
}

table.UnitList {
  border: 3px double #030303;
  font-size: 20px;
  margin: auto;
  width: 60%;
}

th {
  font-size: 150%;
  padding: 15px;
}

th#name {
  width: 40%;
}

th#hp, th#str, th#rstr, th#auth {
  width: 10%;
}

td {
  padding: 3px;
}

.UnitListEntryExtension {
  display: none;
  z-index: 1;
  background-color: #444444;
  color: white;
}

.UnitListEntry:hover .UnitListEntryExtension {
  display: table-row;
}

.UnitListFiller {
  visibility: hidden;
}

.UnitListEntry:hover .UnitListFiller {
  display: none;
}

.App {
  font-family: Verdana;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
